@model IEnumerable<BeyzanurDuzceEduTr.Models.Entities.Announcement>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-5 mb-5">Duyurular</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            @{
                foreach (var item in Model)
                {
                    <div class="testimonial-item text-center">
                        <div class="testimonial-text text-center rounded p-4">
                            @{
                                if (item.Detail.Length > 250)
                                {
                                    <p>@item.Detail.Substring(0, 249) ...</p>
                                }
                                else
                                {
                                    <p>@item.Detail</p>
                                }

                            }
                            <a href="@Url.Action("Detail", "Home", new {Id =item.AnnouncementId })"><h5 class="mb-1">@item.Subject</h5></a>
                            <span class="fst-italic">@item.CreateDate</span>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</div>